html {
    font-size: 15px;
    color: #676574;
    font-family: Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
}

.main {
    max-width: 741px;
    margin: 10px auto;
}

h1 {
    padding: 2px 18px 3px;
    font-size: 2rem;
    background-color: #FFF;
    font-weight: normal;
    margin: 0;
}

.form {
    padding: 2px 18px 15px;
    background-color: #FEEED6;
}

.form label {
    font-weight: bold;
    font-size: 1rem;
}

.input-block {
    margin-top: 15px;
}

.input {
    display: block;
    width: 100%;
    height: 35px;
    border: 0;
    padding: 12px;
    font-size: 1rem;
    margin-top: 7px;
    font-family: inherit;
}

.text-area {
    resize: vertical;
    height: 112px;
}

.button {
    display: block;
    margin-left: auto;
    cursor: pointer;
    padding: 8px 10px;
    border: 0;
    background-color: #378DB2;
    font-weight: bold;
    color: #FFF;
}

button:hover {
    background-color: #3498DB;
}

@media screen and (max-width: 400px) {
    html {
        font-size: 18px;
    }
}