html {
    font: 14px Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
}

.temperature-converter {
    margin: 20px auto;
    padding: 10px;
    max-width: 400px;
    background-color: #EEE;
    border: 1px solid #000;
}

.temperature-scale {
    font-weight: bold;
}

.temperature-converter > div {
    margin: 0 auto;
    padding: 10px;
}

.conversion {
    text-align: center;
}

.converter-button {
    padding: 5px;
    font-weight: bolder;
}

.error-message {
    color: #F00;
    font-size: 12px;
    padding-top: 5px;
}