<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="stylesheet.css" rel="stylesheet">
    <script defer src="node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script defer src="node_modules/vue/dist/vue.js"></script>
    <script defer src="script.js"></script>
    <title>PhoneBook</title>
</head>
<body>
<div class="container">
    <div v-cloak id="app">
        <phone-book></phone-book>
    </div>
</div>

<script id="phone-book-template" type="text/x-template">
    <div>
        <div class="row mb-3 d-flex align-items-start">
            <div class="col-md-4">
                <h2 class="display-8 my-3">Add contact</h2>
                <form novalidate :class="{ 'was-validated': isInvalid }">
                    <label for="first-name" class="form-label mt-2">First name:</label>
                    <input v-model="firstNameInputText" type="text" class="form-control" id="first-name" required>
                    <div class="invalid-feedback">*field is empty</div>

                    <label for="last-name" class="form-label mt-2">Last name:</label>
                    <input v-model="lastNameInputText" type="text" class="form-control" id="last-name" required>
                    <div class="invalid-feedback">*field is empty</div>

                    <label for="phone" class="form-label mt-2">Phone:</label>
                    <input v-model="phoneInputText" type="text" class="form-control" id="phone" required>
                    <div class="invalid-feedback">*field is empty</div>

                    <button type="button" class="btn btn-primary my-3" @click="addContact">Add contact</button>
                    <button type="button" class="btn btn-secondary my-3" @click="clearForm">Clear</button>
                    <div class="text-danger fw-bold" v-show="hasContact">Phone number already exist!</div>
                </form>
            </div>

            <div class="col-md-4">
                <h2 class="display-8 my-3">Search contact</h2>
                <form id="search-form" novalidate>
                    <label for="search-contact" class="form-label mt-2">Type search request</label>
                    <input v-model="searchInputText" type="text" class="form-control" id="search-contact">
                    <button @click="searchContacts" type="button" class="btn btn-primary my-3">Search</button>
                    <button @click="clearSearch" type="button" class="btn btn-secondary my-3">Clear</button>
                </form>
            </div>
        </div>

        <div class="container ps-0">
            <h2 class="display-8 mt-5 mb-3">Contacts list</h2>
            <div class="table-responsive ps-0">
                <table class="table align-middle ps-0" id="phone-book">
                    <thead class="table-light">
                    <tr>
                        <th class="col-1" scope="col">
                            <input type="checkbox" :value="true" v-model="isCheckedAllContacts">
                        </th>
                        <th class="col-1" scope="col">№</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Phone</th>
                        <th class="col-1" scope="col">Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    <template>
                        <table-row @set-contact-delete-status="setContactDeleteStatus"
                                   @set-contact-to-delete="setContactToDelete"
                                   v-for="(contact, index) in filteredContacts" :key="contact.id"
                                   :is-checked-all="isCheckedAllContacts"
                                   :index="index"
                                   :contact="contact"></table-row>
                    </template>
                    </tbody>
                </table>
            </div>

            <div class="d-flex flex-row-reverse">
                <button type="button" class="btn btn-danger my-3" data-bs-toggle="modal"
                        data-bs-target="#delete-contacts-confirmation" @click="checkContactsDeleteStatus">
                    Delete checked
                </button>
            </div>

            <modal-dialog-contacts-delete
                    @delete-checked-contacts-confirm="deleteCheckedContacts"
                    :has-contacts-to-delete="hasContactsToDelete"></modal-dialog-contacts-delete>

            <modal-dialog-contact-delete @delete-contact-confirm="deleteContact"></modal-dialog-contact-delete>
        </div>
    </div>
</script>

<script id="phone-book-row" type="text/x-template">
    <tr>
        <td>
            <input type="checkbox" :value="true" v-model="isChecked" @change="setContactDeleteStatus">
        </td>
        <td v-text="index + 1"></td>
        <td v-text="contact.firstName"></td>
        <td v-text="contact.lastName"></td>
        <td v-text="contact.phone"></td>
        <td>
            <button @click="setContactToDelete" type="button" class="btn btn-danger" data-bs-toggle="modal"
                    data-bs-target="#delete-contact-confirmation">
                Delete
            </button>
        </td>
    </tr>
</script>

<script id="modal-dialog-contact-delete-template" type="text/x-template">
    <div class="modal fade" id="delete-contact-confirmation" data-bs-backdrop="static" data-bs-keyboard="false"
         tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Confirm delete</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete this contact?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button @click="confirmToDeleteContact" type="button" class="btn btn-danger" data-bs-dismiss="modal">
                        Delete
                    </button>
                </div>
            </div>
        </div>
    </div>
</script>

<script id="modal-dialog-contacts-delete-template" type="text/x-template">
    <div class="modal fade" id="delete-contacts-confirmation" data-bs-backdrop="static" data-bs-keyboard="false"
         tabindex="-1"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Confirm delete</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete checked contacts?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button  :disabled="!hasContactsToDelete" @click="confirmToDeleteCheckedContacts" type="button"
                             class="btn btn-danger" data-bs-dismiss="modal">
                        Delete
                    </button>
                </div>
            </div>
        </div>
    </div>
</script>
</body>
</html>