<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet">
    <script defer src="/node_modules/jquery/dist/jquery.js"></script>
    <script defer src="/node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script defer src="/node_modules/vue/dist/vue.js"></script>
    <script defer src="/javascripts/script.js"></script>
    <title>PhoneBook</title>
</head>
<body>
<div v-cloak id="app">
    <phone-book></phone-book>
</div>
{% block body %}{% endblock %}
</body>
</html>