html {
    font: 18px Helvetica, sans-serif;
}

body {
    padding: 10px 10px;
}

* {
    box-sizing: border-box;
}

.main {
    max-width: 750px;
    margin: 0 auto;
}

.twitter-table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #CCCCCC;
}

.column1 {
    width: 20%;
}

.column2 {
    width: 20%;
}

.column3 {
    width: 36%;
}

.column4 {
    width: 24%;
}

.twitter-table th, td {
    border: 1px solid #CCCCCC;
    padding: 12px 12px;
    text-align: left;
}

.twitter-table > thead {
    background-color: #3498DB;
    color: #FFFFFF;
}

.twitter-table > tbody tr:nth-child(odd) {
    background: #EEEEEE;
}