html {
    font: 18px Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
}

.main {
    max-width: 750px;
    margin: 12px auto;
}

.twitter-table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #CCC;
}

.twitter-table .first-name-column {
    width: 20%;
}

.twitter-table .last-name-column {
    width: 20%;
}

.twitter-table .job-title-column {
    width: 36%;
}

.twitter-table .account-twitter-column {
    width: 24%;
}

.twitter-table th, .twitter-table td {
    border: 1px solid #CCC;
    padding: 12px;
    text-align: left;
}

.twitter-table > thead {
    background-color: #3498DB;
    color: #FFF;
}

.twitter-table > tbody > tr:nth-child(odd) {
    background: #EEE;
}