html {
    color: #676574;
}

* {
    box-sizing: border-box;
}

.head-title {
    font: normal 32px/30px Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    margin: 0;
}

.main {
    background-color: #FEEED6;
    max-width: 741px;
    margin: 12px auto;
}

.content {
    padding: 3px 9px;
    font: 16px Helvetica, sans-serif;
}

.title {
    color: #378DB2;
    font-weight: bold;
}

.text-block {
    margin-top: 10px;
}

.content p {
    text-indent: 0.7rem;
    text-align: justify;
    margin: 12px 0 0;
    line-height: 1.4em;
    font-size: 15px;
}

@media screen and (max-width: 400px) {
    html {
        font-size: 22px;
    }
}